//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////

.skip-to-nav {
  @include respond-to('full navigation') {
    @extend %element-invisible-mq;
  }
}  

html {
  @include respond-to-ie('desktop content') {
    @include type-size($body-font-size); // 16px
  }
  @include respond-to-ie('extra wide content') {
    @include type-size($body-font-size + 5); // 21px
  }
  @include respond-to-ie('wide content') {
    @include type-size($body-font-size + 2); // 18px
  }
  @include respond-to-ie('medium wide content') {
    @include type-size($body-font-size - 1); // 15px
  }
  @include respond-to-ie('medium content') {
    @include type-size($body-font-size - 2); // 14px
  }
  @include respond-to-ie('medium only content') {
    @include type-size($body-font-size - 2); // 14px
  }
  @include respond-to-ie('narrow content') {
    @include type-size($body-font-size - 3); // 13px
  }
  @include respond-to-ie('mobile content') {
    @include type-size($body-font-size - 4); // 12px
  }
}
body {
  @include respond-to-ie('desktop content') {
    @include type-size( 1rem, $body-line-height); // 16px/1.5em 
    //color: MidnightBlue;
  }
  @include respond-to-ie('extra wide content') {
    @include type-size( 1rem, $body-line-height + .2); // 21px/1.7em
    //color: FireBrick;
  }
  @include respond-to-ie('wide content') { 
    @include type-size( 1rem, $body-line-height + .16666); // 18px/1.6666em
    //color: Purple;
  }
  @include respond-to-ie('medium wide content') { 
    @include type-size( 1rem, $body-line-height - .1); // 15px/1.4em
    //color: Green;
  }
  @include respond-to-ie('medium content') { 
    @include type-size( 1rem, $body-line-height - .1); // 14px/1.4em
    //color: Red;
  }
  @include respond-to-ie('medium only content') { 
    @include type-size( 1rem, $body-line-height - .1); // 14px/1.4em
    //color: Red;
  }
  @include respond-to-ie('narrow content') { 
    @include type-size( 1rem, $body-line-height - .1); // 13px/1.4em
    //color: ForestGreen;
  }
  @include respond-to-ie('mobile content') { 
    @include type-size( 1rem, $body-line-height - .16666); // 12px/1.333em
    //color: Brown;
  }
}
#content {
  max-width: ms(14);
  padding: 1em;   
  @include respond-to-ie('desktop content') {
    float: left;
    width: 60%;
  }
  @include respond-to-ie('extra wide content') {
    float: left;
    width: 60%;
  }
  @include respond-to-ie('wide content') {
    float: left;
    width: 60%; 
  }
  @include respond-to-ie('medium wide content') {
    float: left;
    width: 60%; 
  }
  @include respond-to-ie('medium content') {
    float: left;
    width: 60%; 
  }
  @include respond-to-ie('medium only content') {
  }
  @include respond-to-ie('narrow content') { 
  }
  @include respond-to-ie('mobile content') {
  }
}
article {
  max-width: ms(16);
  margin: 0 auto;
  //border:solid;
  @include respond-to-ie('desktop content') {
    width: 100%;
  }
  @include respond-to-ie('extra wide content') {
    width: 100%;
  }
  @include respond-to-ie('wide content') {
    width: 100%; 
  }
  @include respond-to-ie('medium wide content') {
    width: 100%;
  }
  @include respond-to-ie('medium content') {
    width: 100%;
  }
  > header {
    padding: 0 1em;
  }
}
#comments {  
  background: nth($black, 5);
  padding: 0 1em;
  @include respond-to-ie('desktop content') {
    float: left;
    width: 40%;
    max-width: ms(12); 
    @include type-size($body-font-size - 1, $body-line-height - .1); // 16px
  }
  @include respond-to-ie('extra wide content') {
    float: left;
    width: 40%;
    max-width: ms(12); 
    @include type-size($body-font-size + 1, $body-line-height - .1); // 16px
  }
  @include respond-to-ie('wide content') {
    float: left;
    width: 40%;
    max-width: ms(12);
    @include type-size($body-font-size, $body-line-height - .1); // 16px
  }
  @include respond-to-ie('medium wide content') {
    float: left;
    width: 40%;
    max-width: ms(12);
    @include type-size($body-font-size - 2, $body-line-height - .1); // 16px
  }
  @include respond-to-ie('medium content') {
    float: left;
    width: 40%;
    max-width: ms(12);    
    @include type-size($body-font-size - 3, $body-line-height - .1); // 16px
  }
  @include respond-to-ie('medium only content') {
    max-width: ms(14);
    @include type-size($body-font-size - 3, $body-line-height - .1); // 16px
  }
}

//.mediacommons-network {
//  img {
//    display:inline-block;
//    max-width:130px;
//  }
//}
//
//.wrapper {
//  .node {
//    a {
//      font-size:1.05em;
//    }
//  }
//  width: 70%;
//  max-width: 1200px;
//  padding: 0 2em;
//  background-color: #fff;
//  overflow: hidden;
//  margin:0 auto;
//  h1 {
//    font-size:2.5em;
//    line-height:1em;
//    margin:.4em 0;
//    padding:0;
//    font-weight:600;
//    width:90%;
//  }
//  h2 {
//    font-size:1em;
//    border-bottom:3px solid $grey1;
//    margin-top:.5em;
//    padding-bottom:.5em;
//    font-weight:600;
//    &.section-title {
//      margin-bottom:2em;
//    }
//  }
//  h3 {
//    color:#999;
//    margin:0;
//    display:inline-block;
//    font-weight:normal;
//  }
//  .post, .cluster, .content {
//    //width:67%;
//    width:58.5%;
//    display:inline-block;
//    font-size:1.2em;
//    line-height:1.55em;
//  }
//  .node-hub {
//    .content {
//      width:100%;
//    }
//  }
//}
//
//.trigger {
//  font-size:.8em;
//  a:hover {
//    text-decoration:none;
//  }
//}
//  .contributors {
//    font-size:.8em;
//    .user-picture {
//      display:block;
//      overflow:hidden;
//      margin-top:0em;
//      &:after {
//        content: " F.name L.name";
//      }
//      a {
//        float: left;
//        margin-right:.25em;
//        font-size:.85em;
//        display:block;
//        padding:.1em 0;
//        border-bottom:none;
//        @include profile(30px);
//        border:1px solid #ebebeb;
//        overflow:hidden;
//        &:hover {
//          border:1px solid #ccc;
//        }
//      }
//    }
//  }
//
//  .new {
//    background: yellow;
//    color: red;
//    padding: .25em;
//    margin-right: .25em;
//}   