//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////


html{
  height:100%;
  background:$grey;
}

input[type=text]{
  @include radius($button-radius);
}

body {
  background:$grey;
  margin:0 auto;
  font-family:Georgia;
  line-height:1.6em;
  color:black;
  min-height:100%;
  @include navs;
  @include blockquotes;
  a {
  font-family:$sans;
  @include transition;
  text-decoration:none;
    &:hover {
      @include transition;
    }
    &:focus {
      background:yellow;
      outline:none;
    }
  }
}

.mediacommons-network {
  img {
    display:inline-block;
    max-width:130px;
  }
}

.wrapper {
  .node {
    a {
      font-size:1.05em;
    }
  }
  width: 70%;
  max-width: 1200px;
  padding: 0 2em;
  background-color: #fff;
  overflow: hidden;
  margin:0 auto;
  h1 {
    font-size:2.5em;
    line-height:1em;
    margin:.4em 0;
    padding:0;
    font-weight:600;
    width:90%;
  }
  h2 {
    font-size:1em;
    border-bottom:3px solid $grey1;
    margin-top:.5em;
    padding-bottom:.5em;
    font-weight:600;
    &.section-title {
      margin-bottom:2em;
    }
  }
  h3 {
    color:#999;
    margin:0;
    display:inline-block;
    font-weight:normal;
  }
  .post, .cluster, .content {
    //width:67%;
    width:58.5%;
    display:inline-block;
    font-size:1.2em;
    line-height:1.55em;
  }
  .node-hub {
    .content {
      width:100%;
    }
  }
}

.trigger {
  font-size:.8em;
  a:hover {
    text-decoration:none;
  }
}
  .contributors {
    .user-picture {
      display:block;
      overflow:hidden;
      margin-top:0em;
      a {
        float: left;
        margin-right:.25em;
        font-size:.85em;
        display:block;
        padding:.1em 0;
        border-bottom:none;
        &:hover {
          border-bottom:none;
        }
        img {
          @include profile(30px);
          vertical-align:middle;
        }
      }
    }
  }

  .new {
    background: yellow;
    color: red;
    padding: .25em;
    margin-right: .25em;
}