//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////

section.curators-note {
    max-width: ms(14);
    float: left;
}

article[role="article"].spoke {
    @include respond-to("mobile-lh") {
    	.vcard img.photo {
    		@include border-radius(0px);
    		border:none;
    	}
    	header, section {
    		padding: 0 2%;
    	}
    	> header {
            background-color: darken(nth($black, 5), 5%);
            @include border-top-radius(15px);
            margin-bottom:0;
            padding-bottom:20px;
        }
        section.part-of-hub {
            background-color: darken(nth($black, 5), 5%);
            @include border-bottom-radius(15px);
        }
        
    }
}