body.toolbar-drawer {
  margin-top:-35px;
  .page {
    margin-top:-45px;
  }
}
#toolbar {
  li {
    text-indent:0;
  }
  position: static !important;
  margin-top:14px;
  a {
    margin-left:10px;
  }
}