//////////////////////////////
// LAYOUT: Layout dependent css and media queries only 
//////////////////////////////

.meco {
    header, article, footer {
    a {
      color: nth($mc-blue,1) !important; // FOR DEMO ONLY
    }
  }
}

@include respond-to("full navigation") {
  section[role="complementary"] {
    float: right;
    max-width: ms(12);
  }
  .profile aside {
    background-color: nth($mc-blue, 3); // FOR DEMO ONLY
    > h2 {
      background: nth($mc-blue, 1); // FOR DEMO ONLY
    }
  }
  input[type="search"] {
    @include placeholder(nth($mc-blue, 2));
  }
}

