//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

.vcard {
  margin: 1em 0;
  > .url .photo {
    float: left;
    margin: 0 .5em 0 0;
    width: 4.524em;
    // 85px at largest font size
  }
  img.photo {
    @include border-radius(3em);
    border: 0.33em solid rgba(nth($black, 4), 1);
  }
  address, .fn.url {
    font-weight: bold;
  }
  .org {
    &:before {
      content: "\20\2014\20";   // mdash encoded http://css-tricks.com/snippets/html/glyphs/
   
    }
  }
  .h-adr {
    display: block;
  }
  + time + * {
    // clear comment text below the photo
    clear: both;
    padding-top: 1em;
  }
}

.profile {
  padding: 0 3%;
  header {
    margin-bottom: 1em;
    @extend %clearfix;
    .photo {
      float: left;
      margin: 0 .5em 0 0;
    }
  }
  .profile-friend {
    float: left;
    margin: 1em 1em 1em 0;
    a {
      display: block;
      font-size: 11px;
      font-size: .8rem;
      line-height: 1.2em;
    }
    width: 5em;
    height: 8em;
  }
  .profile-friend-picture {
    img {
      width: 100%;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: .5em;
    text-indent:0;
    margin-left: 0;
  }
  h1 {
    font-size: 1.5em;
    line-height: 1.1;
    margin-bottom: .2em;
    color: nth($black, 1);
  }
  h2 {
    margin-top: 42px;
    margin-top: 2rem;
    margin-bottom: .7em;
  }
  .biblio-entry {
    font-size: 1.3em;
    line-height: 1.3;
  }
  .author {
    font-style: italic;
    &:before {
      content: "\2014\20";   // mdash encoded http://css-tricks.com/snippets/html/glyphs/
    }
  }
  .contact-info li {
    //@extend %button;
    display: inline-block;
    margin-right: 1%;
    //font-size: 1.7em;
    // height: 2em;
    a {
      //@extend %button;
    }
    span {
      //display: none;
    }
  }
  ul.Tags li:first-child {
    display: inline-block;
    padding: 0;
  }
  @include respond-to("full navigation") {
    padding: 0 3%;
    section {
      max-width: ms(14);
      float: left;
      margin: 0 1em 1em 0;
      clear: left;
    }
    aside {
      background-color: nth($quadrary, 5);
      margin-top: 42px;
      margin-top: 2rem;
      float: right;
      max-width: ms(12);
      clear: both;
      > h2 {
        color: nth($black, 6);
        background: nth($tertiary, 2);
        margin: 0;
        font-size: 15px;
        font-size: 1.3rem;
        padding: .5em;
      }
      > ul {
        padding: .5em;
        margin: 0;
      }
    }
    .contact-info {

      li {
        margin-bottom: 0;
        float: none;
        text-indent: 0;
      
        a {
            //background-color: none;
            //background-image: none;
            //background: none;
            //border: none;

            width: auto;
            text-indent:.25em;
            color: nth($mc-blue, 2);
          &:hover {
            background-color: white;
            background-image: none;
          }
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}
.profile {
  @include respond-to("narrow navigation") {  
    .contact-info li {
      display: inline-block;
      margin-right: 1%;
      font-size: 1.4em;
      // height: 2em;
      //@extend %button;
      a {
        @include button;
      }
      span {
        display: none;
      }
    }
  }
}  