//////////////////////////////
// VARIABLES: For Base styles that aren't in Compass-Pattern-Primer 
//////////////////////////////

$base-font-size: 14px;
$bs: border-box;

$grey:#f3f3f3;
$grey1:darken($grey,4%);
$grey2:darken($grey,10%);
$grey3:darken($grey,30%);
$blue_mc:#196195;
$orange_imr:#dd5520;
$green_mcp:#456b2d;
$aqua_tne:#148385;
$red_ac:#be1e2d;

$container-radius: 4px;
$button-radius: 2px;
$nav-radius: 60px;

$size:1.25em;

//$sans: "Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif!default;
$serif: Georgia,Cambria,"Times New Roman",Times,serif!default;
//$serif:'Merriweather', serif;
$sans:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 