$start: -1;
$end: 20;

$base-size: 1em 2.25em; //  16px 36px
//$base-size: 16px 36px; 
$ratio: major-sixth();
 
//@include ms-list($start, $end, $base-size, $ratio );

// Sizes in pxs
// MS-LIST: 10px 16px 22px 27px 36px 44px 60px 74px 100px 123px 167px 206px 278px 343px 463px 572px 772px 953px 1286px 1588px 2143px 2646px

// Sizes in ems 
// MS-LIST: 0.6em 1em 1.35em 1.66667em 2.25em 2.77778em 3.75em 4.62963em 6.25em 7.71605em 10.41667em 12.86008em 17.36111em 21.43347em 28.93519em 35.72245em 48.22531em 59.53742em 80.37551em 99.22903em 133.95919em 165.38172em


$h1-border-width: false;
$h1-font-size:  ms(4); // 3.751em
$h1-line-height: 1.1em;
$h1-padding: 0em;
$h1-padding-pos: top;
$h1-margin: -.25em;
$h1-margin-pos: bottom;
$h1-color: nth($black, 2);

$h2-border-width: false;
$h2-font-size: ms(3);
$h2-line-height: 1.1em;
$h2-padding: .25em;
$h2-padding-pos: top;
$h2-margin-pos: bottom;
$h2-margin: -.25em;
$h2-color: nth($black, 2); 

$h3-border-width: false;
$h3-font-size: ms(2);
$h3-line-height: 1.1em;
$h3-padding:  .25em;
$h3-padding-pos: top;
$h3-margin-pos: bottom;
$h3-margin: -.25em;
$h3-color: nth($black, 2); 

$h4-border-width: false;
$h4-font-size: ms(1);
$h4-line-height: 1.1em;
$h4-font-bold: true; 
$h4-padding: .25em;
$h4-padding-pos: top;
$h4-margin-pos: bottom;
$h4-margin: -.25em;
$h4-color: nth($black, 2); 

$h5-border-width: false;
$h5-font-size: ms(1);
$h5-line-height: 1.1em;
$h5-padding: .25em;
$h5-padding-pos: top;
$h5-margin-pos: bottom;
$h5-margin: -.25em;
$h5-color: nth($black, 2); 

$h6-border-width: false;
$h6-font-size: ms(0);
$h6-line-height: 1.1em;
$h6-font-bold: true;
$h6-padding: 0em;
$h6-padding-pos: top;
$h6-margin-pos: bottom;
$h6-margin: .125em;
$h6-color: nth($black, 2);

$blockquote-padding: .25em 1em;
$blockquote-margin: 1em 1.5em 1em 0;
$blockquote-line-height: inherit; 

$blockquote-border-width: 0 0 0 0.25em;
$blockquote-border-color: #666;
$blockquote-border-rgba: rgba($blockquote-border-color,.75);
$blockquote-font-italic: false;
$blockquote-border-radius: .5em;
$blockquote-color: #666;