//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

//#search {
//  margin-left:6px;
//  float:right;
//  width:30.5%;
//  text-align:right;
//  //background:$aqua_tne;
//  @include border-radius($container-radius);
//  form {
//    display:block;
//    margin:0;
//    input[type="text"]{
//      width:74.21%;
//      padding:1.125em .25em;
//      font-size:.8em;
//      font-family:$sans;
//      color:darken($grey,60%);
//      font-weight:normal;
//      @include border-left-radius($container-radius);
//      border:1px solid #ebebeb;
//    }
//    input[type="submit"]{
//      position:relative;
//      left:-6px;
//      width:24.02%;
//      font-size:.7em;
//      padding:.35em 0;
//      @include border-right-radius($container-radius);
//      @include border-top-left-radius(0px);
//      @include border-bottom-left-radius(0px);
//      -webkit-appearance:none;
//    }
//  }
//}