@font-face {
	font-family: 'MediaCommons-Icon-Font';
	src:url('MediaCommons-Icon-Font/MediaCommons-Icon-Font.eot');
	src:url('fMediaCommons-Icon-Font/MediaCommons-Icon-Font.eot?#iefix') format('embedded-opentype'),
		url('MediaCommons-Icon-Font/MediaCommons-Icon-Font.woff') format('woff'),
		url('MediaCommons-Icon-Font/MediaCommons-Icon-Font.ttf') format('truetype'),
		url('MediaCommons-Icon-Font/MediaCommons-Icon-Font.svg#MediaCommons-Icon-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'MediaCommons-Icon-Font';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-triangles-collapse, .icon-triangle-small-4, .icon-triangle-small-3, .icon-triangle-small-2, .icon-triangle-small-1, .icon-triangle-mini-4, .icon-triangle-mini-3, .icon-triangle-mini-2, .icon-triangle-mini-1, .icon-triangle-big-4, .icon-triangle-big-3, .icon-triangle-big-2, .icon-triangle-big-1, .icon-share-podcast, .icon-rss, .icon-options-search, .icon-infos-question-circle, .icon-infos-question-circle-2, .icon-infos-circle-2, .icon-infos-alert-triangle, .icon-infos-alert-losange, .icon-infos-alert-circle-2, .icon-the-new-everyday-logo, .icon-media-commons-press-logo, .icon-media-commons-logo, .icon-in-media-res-logo, .icon-alt-academy-logo, .icon-contact-phone, .icon-triangles-expand, .icon-contact-mail, .icon-contacts-user-add, .icon-contacts-user, .icon-contacts-users {
	font-family: 'MediaCommons-Icon-Font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-triangles-collapse:before {
	content: "\e005";
}
.icon-triangle-small-4:before {
	content: "\e007";
}
.icon-triangle-small-3:before {
	content: "\e009";
}
.icon-triangle-small-2:before {
	content: "\e00a";
}
.icon-triangle-small-1:before {
	content: "\e00b";
}
.icon-triangle-mini-4:before {
	content: "\e00c";
}
.icon-triangle-mini-3:before {
	content: "\e00d";
}
.icon-triangle-mini-2:before {
	content: "\e00e";
}
.icon-triangle-mini-1:before {
	content: "\e00f";
}
.icon-triangle-big-4:before {
	content: "\e010";
}
.icon-triangle-big-3:before {
	content: "\e011";
}
.icon-triangle-big-2:before {
	content: "\e012";
}
.icon-triangle-big-1:before {
	content: "\e013";
}
.icon-share-podcast:before {
	content: "\e014";
}
.icon-rss:before {
	content: "\e015";
}
.icon-options-search:before {
	content: "\e016";
}
.icon-infos-question-circle:before {
	content: "\e017";
}
.icon-infos-question-circle-2:before {
	content: "\e018";
}
.icon-infos-circle-2:before {
	content: "\e019";
}
.icon-infos-alert-triangle:before {
	content: "\e01a";
}
.icon-infos-alert-losange:before {
	content: "\e01b";
}
.icon-infos-alert-circle-2:before {
	content: "\e01c";
}
.icon-the-new-everyday-logo:before {
	content: "\e000";
}
.icon-media-commons-press-logo:before {
	content: "\e001";
}
.icon-media-commons-logo:before {
	content: "\e002";
}
.icon-in-media-res-logo:before {
	content: "\e003";
}
.icon-alt-academy-logo:before {
	content: "\e004";
}
.icon-contact-phone:before {
	content: "\e008";
}
.icon-triangles-expand:before {
	content: "\e01d";
}
.icon-contact-mail:before {
	content: "\e006";
}
.icon-contacts-user-add:before {
	content: "\e01e";
}
.icon-contacts-user:before {
	content: "\e01f";
}
.icon-contacts-users:before {
	content: "\e020";
}
