//////////////////////////////
// BASE: Page specific styles that aren't in Compass Pattern-Primer 
//////////////////////////////

html{
  height: 100%;
}

body {
  display: table;
}
a {
  &:focus {
    background: yellow;
    outline: none;
  }
}

address {
  font-style: normal;
  display: inline;
}


// Icon fonts
@include web-font-face($icon-font-name, $icon-font-file-name, $font-weight, $font-style, $inline-fonts);

// hidden elements
//.skip {
//  @extend %element-invisible;
//}
  