//////////////////////////////
// MIXINS: Mixins should have arguments. Otherwise use extendables...
//////////////////////////////

// add a background to the media query indicator - dev only 
@mixin breakpoint-back {
  // Cause you can't extend silently from a media query
  line-height: 1.25em;
  padding: .25em 1em;
  margin: 0 0 .25em 0;
  background: rgba(#d00, .5);
  color: #ddd;
  z-index: 100;
  position: absolute;
  top: 1;
  left: 20px;
  @include border-radius(.5em);
  //float:left;
}

@mixin background-gradient($direction: top, $start: true, $start-pos: 0 default, $mid: false, $mid-pos: 33% default, $end: false, $end-pos: 66% default, $final: false) {
  @if $end { background: $end; }
  @else { background: $start; }  
  @if $final { @include background-image(linear-gradient($direction, $start $start-pos, $mid $mid-pos, $end $end-pos, $final)); }
  @else { @include background-image(linear-gradient($direction, $start $start-pos, $mid $mid-pos, $end $end-pos)); }
}

@mixin mc-font-face( $font-name, $font-woff, $font-ttf, $inline-fonts: false, $font-style:normal, $font-weight:normal, $eot:false ) {
  @if $inline-fonts and $font-name { @include font-face( $font-name, inline-font-files( $font-woff, woff, $font-ttf, truetype ), $eot, $font-weight, $font-style ); }
  @else if $font-name { @include font-face( $font-name, font-files( $font-woff, woff, $font-ttf, truetype ), $eot, $font-weight, $font-style ); }
}

@mixin mc-font-faced($font-name: false) {
  @if $font-name { font-family: $font-name; }
}

@mixin profile($size) {
  max-width:$size;
  width: $size;
  height: $size;
  @include border-radius($size/2);
}
 

// IE Fixin Mixins
// Based on: http://jakearchibald.github.io/sass-ie/
// For IE only CSS hacks
$old-ie: false !default;

@mixin old-ie {
    // Only use this content if we're dealing with old IE
    @if $old-ie {
        @content;
    }
}

$fixed-media-query: false !default;

@mixin respond-to-ie($mediaquery) {
    // If we're outputting for a fixed media query set...
    @if $fixed-media-query {
        // ...and if we should apply these rules...
        @if $fixed-media-query == $mediaquery {
            // ...output the content the user gave us.
            @content;
        }
    }
    @else {
        // Otherwise, output it using a regular media query
        @include respond-to(quote($mediaquery)) {
            @content;
        }
    }
}

@mixin opacitIE($opacity) {
  // Could be extended for other older browsers if needed http://css-tricks.com/css-transparency-settings-for-all-broswers/
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    zoom: 1;  // trigger hasLayout
  }
  filter: unquote("alpha(opacity=#{round($opacity * 100)})");
}