//////////////////////////////
// VARIABLES: Master variable import file 
//////////////////////////////

@import "partials/variables/base/_page";
@import "partials/variables/theme/_overrides"; 

@import "partials/variables/layout/_breakpoints";
@import "partials/variables/layout/_page"; 

@import "partials/variables/modules/_header";
@import "partials/variables/modules/_content";
@import "partials/variables/modules/_footer";
@import "partials/variables/modules/_icons"; 
@import "partials/variables/modules/_mainnav";
@import "partials/variables/modules/_subnavigation";
@import "partials/variables/modules/_usernav";


