//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

aside[role="complimentary"].part-of-hub {
  background: nth($black, 4);
  header {
    padding: .5em .5em .5em 1em;
    background: nth($black, 3);
    > span {
      font-style: italic;
      color: nth($black, 2);
    }
  } 
  h2 {
    font-size: 1.4em;
    padding: 0;
    margin: 0 0 .5em 0;
    color: nth($black, 5);
  }
  ul[role="menu"] {
    list-style: none;
    margin: 0;
    padding: 1em;
    display: table;
    width: 100%;
    li {
      display: table-row;
      text-indent: 0;
      margin: 0;
      > a:first-child {
        display: table-cell;
        padding: 0 .5em .5em 0;
      }
      > h3 {
        vertical-align: top;
        display: table-cell;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
      }
    }
  }
}
aside + h2 {
  clear: both;
}