//////////////////////////////
// VARIABLES: For layout breakpoints 
//////////////////////////////

$breakpoints: 'extra-wide' (1281px 1680px),
              'wide' (801px 1280px),
              'full navigation' (801px),
              'narrow navigation' (320px 800px),
              'extra wide content' (1281px), 
              'wide content' (1061px 1280px),
              'desktop content' (981px 1060px),
              'medium wide content' (801px 980px),
              'medium content' (681px 800px),
              'medium only content' (525px 680px), 
              'narrow content' (481px 524px),
              'mobile content' (240px 480px),
              'tablet landscape, medium-land' ((801px 1024px) (orientation landscape)),
              'tablet portrait, medium-port' ((500px 800px) (orientation portrait)),
              'phone landscape, sm-land' ((320px 599px) (orientation landscape)),
              'phone portrait, sm-port' ((240px 499px) (orientation portrait));