//////////////////////////////
// VARIABLES: For Modules  
//////////////////////////////

// Icon fonts
$icon-font-name: 'MediaCommons-Icon-Font';
$icon-font-file-name: 'MediaCommons-Icon-Font/MediaCommons-Icon-Font';

//  See: Icon fonts, HAML and Sass http://gist.io/4731881 
$icons: (contract-arrow-m '\e00a') (expand-arrow-m '\e00b') (contract-arrow-s '\e00e') (expand-arrow-s '\e00f') (contract-arrow-l '\e012') (expand-arrow-l '\e013') (email '\e006') (phone '\e008') (user '\e01f') (users '\e020') (add-user '\e01e');
   