//////////////////////////////
// VARIABLES: For Modules  
//////////////////////////////

// Icon fonts
$icon-font-name: 'ICON_FONT_FAMILY_NAME';
$icon-font-file-name: 'icon-font-file-name';

//  See: Icon fonts, HAML and Sass http://gist.io/4731881 
// example $icons array
$icons: (help '\e003') (iframe-site '\e005') (schedule '\e028') (announcements '\e006'); 
   