/* all */
::-webkit-input-placeholder { color:$grey1; font-style: italic;}
::-moz-placeholder { color:$grey1; font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { color:$grey1; font-style: italic; } /* ie */
input:-moz-placeholder { color:$grey1; font-style: italic; }


.comment_login {
  font-style:italic;
  a {
      background:yellow;
    }
}

#comments {
  margin-top:0;
}
.comment-wrapper {

  p {
    margin:.5em 0;
  }

  h4 {
    margin:0;
    padding:0;
    color:#333;
    font-weight:bold;
    font-size:1.5em;
    border-bottom:1px solid #333;
  }
  .must-login {
    background: #fafafa;
    padding: 1em;
    margin-bottom: 1em;
    font-style:italic;
  }

  label {
    display:none;
  }
  .form-text, .text-full {
    padding:1.5em 1em;
  }
  //margin: 1em auto;
  //padding:1em;
  //background:$grey;
  //width:30.5%;
  width:38.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float:right;
  font-size:.8em;
  line-height:1.5em;
  //@include radius($container-radius);
  .comment {
    border-top: 1px solid $grey2;
    padding:0;
    .content {
      width:100%;
    }
    ul.inline {
      text-transform: capitalize;
      margin-bottom:2em;
      display:block;
      li {
        margin:0;
        padding:0;
        text-indent:0;
        &.comment-delete, &.comment-edit {
          float:right;
          margin-left:.5em;
          a {
            display:inline-block;
            opacity:.7;
          }
        }
        &.comment-reply {
          a {
            text-transform: capitalize;
            display:inline-block;
          }
        }
      }
    }
  }
  .comment-form {
    overflow:hidden;
    background:$grey;
    padding:.5em 1.25em 1em;
    margin-bottom:0;
  }
  #edit-author--2,.filter-wrapper {
    display:none;
  }
  #edit-preview{
    display:none;
  }
  #edit-submit {
    float:right;
    display:block;
    clear:both;
  }
  h3 {
    a {
      font-family:$serif!important;
      color:black!important;
      border-bottom:none!important;
    }
  }
}