//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

footer {
  // yadda, yadda
} 

.wrapper.the-content {
  @include border-bottom-radius($container-radius);
  padding-bottom:3em;
}

.footer.wrapper {
  background:none;
  padding:0;
  margin-top:1em;
  table {
    font-size:.9em;
    width:100%;
    .node-title, .node-author {
      display:inline-block;
    }
    .node-title {
      a {
      font-family: $serif;
      color:black;
      border-bottom:none;
    }
    }
    .node-author {
      font-size:.8em;
      a {
        font-size:1.2em;
      }
      &:before {
        content: ", by ";
      }
    }
  }
}