//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////
nav[role="navigation"].global {
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, darken(nth($black,2), 5%), darken(nth($black,1), 15%)));
  width:100%;
  height: $globalnav-height; 
  @include web-font-family($heading-font-name); 
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1%;

  ul {
    @include horizontal-list(.5em);
    // line-height: 1.5em;
    
    margin: 0;
    li {
      text-indent: 0;
      margin: 0;
      background: url("../images/pipe.png") center right no-repeat;
      padding:0 1px;
      a{
        font-size: .775em;
        font-weight: normal;
        font-weight: 400;
        color: nth($black, 5);
        text-indent: 0;
        padding: 10px;
        float:left;
        display:block;
        // @include border-radius(5px);
        &:hover {
          @include background-image(linear-gradient(top, darken(nth($black,1), 15%), darken(nth($black,2), 5%)));
          color: nth($black, 5);
          text-decoration: none;
        }
      }
    } 
     li:last-child {
        background: none;

     }
  } 
  ul.navitems  {
      float:left;
     
      width:auto;
      // for FOUC
      min-width:4em;
      overflow:hidden;
      margin:0;
      padding: 0;
  }
  ul.global-sections {
    // background-color: yellow;
    @include horizontal-list(0em);
    float: left;
    // max-width: 75%;
    a.logolink {
      padding-left:0;
    }

  }
 
  ul.logged-out {
      @include horizontal-list(1em);
      float: right;
      // max-width: 25%;
      padding: 0 ;
      > li + li {
        width: 60px;
        @include inline-block-list-container;
        color: nth($black, 5);
      }
      li > ul {
          @include inline-block-list;
          position: absolute;
          right:0;
        > li {
          @include inline-block-list-item(1em);
          width: 300px;
          text-indent: 0em;
          background: nth($black, 1);
          form {
            font-size: .875em;
            width: 300px;
            padding: 0 1em;
            input {
              max-width: 100%;
              display: block;
              margin: 0 0 1em 0;
            }
            .description {
              display: none;
              white-space: normal;
              font-size: .875em;
              line-height: 1.2em;
            } 
            label {
              display:none;
            }
            #edit-submit {
              float: right;
            }
            .button-link {
              line-height: 1.2em;
            }
            .social-login {
              margin: .5em 0;
              clear: both;
              display: block;
              font-size: .825em;
              line-height: 1.2em;
              .twitter {
                display: inline-block; 
                float: left;
              }
              .facebook{
                display: inline-block;
                float: right;
              }
            }
          }
          
        }
      }
    }
  }
