//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////
nav[role="navigation"].global {
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, darken(nth($black, 2), 5%), darken(nth($black, 1), 15%)));
    width: 100%;
    //height: $globalnav-height;
    @include web-font-family($heading-font-name);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1%;
    a.logolink {
        height: $globalnav-height;
        max-width: 100%;
        padding: 1.5em 0;
        display: block;
        overflow: hidden;
        margin: 0;
        background: url("../images/logo5.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left center;
        span {
            display: block;
            width: 14em;
            text-indent: -1000em;
            //height: $globalnav-height;
       
        }
    }
    a.drop-down {
        font-weight: bold;
        display: block;
        // position: absolute;
   
    }
    a.drop-down.open {
        height: 3.7em !important;
        @include border-corner-radius(top, right, 5px);
        // border-right: 1px solid #ccc;
   
    }
    a.drop-down:after {
        content: " v";
    }
    a.drop-down.open:after {
        content: " A";
    }
    ul {
        @include horizontal-list(0.5em);
        margin: 0;
        li {
            text-indent: 0;
            margin: 0;
            padding: 0 1px;
            a {
                font-size: .775em;
                font-weight: normal;
                font-weight: 400;
                color: nth($black, 5);
                text-indent: 0;
                float: left;
                display: block;
                &:hover {
                    // @include background-image(linear-gradient(top, darken(nth($black,1), 15%), darken(nth($black,2), 5%)));
                    color: nth($black, 5);
                    text-decoration: underline;
                }
            }
        }
        li:last-child {
            background: none;
        }
        li.navitems2.open li {
            background: none;
        }
    }
    ul.navitems > li[role="menuitem"].navitems2.open,
    ul.navitems > li[role="menuitem"].navitems2.open * {}
    ul.navitems > li[role="menuitem"].navitems2.open {
        @include border-corner-radius(top, right, 5px);
        background-color: black !important;
        border-right: 1px solid #ccc;
    }
    ul.navitems {
        float: left;
        width: auto;
        margin: 0;
        padding: 0;
        position: relative;
        // z-index: 15;
        height: 1.8em;
        li {
            background: url("../images/pipe.png") center right no-repeat;
            a {
                padding: .5em;
            }
        }
        li:last-child {
            background: none;
        }
    }
    ul.global-sections {
        @include horizontal-list(0em);
        float: left;
    }
    /*   */
    li.navitems2 {
        position: relative;
        // z-index: 19;
   
    }
    li.navitems2 ul {
        // height:0;
        // overflow:hidden;
        display: none;
        // min-height:0px;
   
    }
    li.navitems2 ul.open {
        height: auto;
        display: block;
        background-color: black;
        // border-bottom: 1px solid #ccc;
        // border-right: 1px solid #ccc;
        // border-left: 1px solid #ccc;
        @include border-corner-radius(top, left, 5px);
        @include border-corner-radius(bottom, left, 5px);
        @include border-corner-radius(bottom, right, 5px);
        padding-bottom: 10px !important;
        position: absolute;
        clear: both;
        top: 2.7em;
        right: -1px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        a {
            display: block;
        }
    }
    ul.utils {
        position: absolute;
        right: 0px;
        top: 4px;
    }
    /*   */
    ul.logged-out {
        @include horizontal-list(1em);
        // float: right;
        // max-width: 25%;
        // padding: 0;
        >li {
            @include border-radius(5px);
            padding: 0;
            color: nth($black, 5);
            margin-right: .5em;
            a {
                padding: 0 .5em;
                border: 1px solid #ccc;
                @include border-radius(5px);
                 @include background-image(linear-gradient(top, darken(nth($black, 1), 15%), darken(nth($black, 2), 5%)));
            }
        }
        li[aria-haspopup="true"]>a {
            &:after {
                content: " V";
            }
            &.open {
                @include border-bottom-radius(0px);
                padding-bottom: 2em;
                background-color: darken(nth($black, 1), 15%);
                background-image: none;
                position:absolute;
                z-index:200;
                border-bottom:none;
                height:3.6em;
            }
        }
        > li + li {
            // @include inline-block-list-container;
       
        }
        li > ul {
            @include inline-block-list;
            position: absolute;
            z-index:100;
            @include background-image(linear-gradient(top, darken(nth($black, 1), 15%), darken(nth($black, 2), 5%)));
            @include border-top-left-radius(5px);
            @include border-bottom-left-radius(5px);
            @include border-bottom-right-radius(5px);
            border: 1px solid #ccc;
            right: .5em;
            top: 2.7em;
            > li {
                @include inline-block-list-item(1em);
                width: 300px;
                text-indent: 0em;
                form {
                    font-size: .875em;
                    width: 300px;
                    padding: 0 1em;
                    input {
                        max-width: 100%;
                        display: block;
                        margin: 0 0 1em 0;
                    }
                    .description {
                        display: none;
                        white-space: normal;
                        font-size: .875em;
                        line-height: 1.2em;
                    }
                    label {
                        display: none;
                    }
                    #edit-submit {
                        float: right;
                    }
                    .button-link {
                        line-height: 1.2em;
                    }
                    .social-login {
                        margin: .5em 0;
                        clear: both;
                        display: block;
                        font-size: .825em;
                        line-height: 1.2em;
                        .twitter {
                            display: inline-block;
                            float: left;
                        }
                        .facebook {
                            display: inline-block;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}