//////////////////////////////
// MODULES: Style that are layout independent 
//////////////////////////////

header {
  // yadda, yadda
}

.header {
  background:#ebebeb;
  margin-top:2.2em;
  padding-top:1em;
  font-size:1.25em;
  line-height:1.45em;
  .wrapper {
    padding:2em;
    margin:1em auto 0 auto;
    background: #f8f8f8;
    @include top-radius($container-radius);
    box-shadow:0 10px 40px #e2e1e1;
    a {
      border-bottom:none;
    }
  }
}

.article-header {
    margin:3em 0 2em 0;
    position:relative;
    .social {
      position:absolute;
      right:0;
      top:.5em;
      text-align:right;
      a.share {
        border-bottom:none;
        margin-left:.25em;
        &:hover {
          opacity:.8;
        }
      }
    }
  }

div.status {
	background-image: none;
	border-color: black;
	margin-top: 2em;
	background-color:black;
	color: yellow;
}