//////////////////////////////
// MODULES: Styles that are layout independent 
//////////////////////////////

//  See: Icon fonts, HAML and Sass http://gist.io/4731881
@each $icon in $icons {
  .icon-#{nth($icon, 1)}:before {
    content: nth($icon, 2);
    @extend %ico-font-base;
  }
}