.field-name-field-field-period {
	//color:$aqua_tne;
	//color:darken($grey,45%);
	margin:-.5em 0 .5em 0;
	//font-family:$sans;
	//font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
	//font-size:1.15em;
	//letter-spacing:.1em;
	//background:#ffc;
	//padding-bottom:.5em;
	display:inline-block;
	//border-bottom:2px solid #ccc;
}

.date-display-start, .date-display-end {
	text-transform:uppercase;
	font-style:normal;
	background:#ffc;
}

h4 {
    margin:0;
    padding:0;
    color:#333;
    font-weight:bold;
    font-size:1.5em;
    border-bottom:1px solid #333;
  }
