//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

@import "_header_variables";

header[role="banner"] {
  font-size: $base-size;
  margin: $globalnav-height auto 0 auto;
  h1 {
    display: inline-block;
    float: left;
    font-size: 1.8em;
    line-height: 1;
    a {
      color: #333333;
    }
    span {
      display: none;
    }
  }
  @extend %clearfix;
  form[role="search"] {
    display: inline-block;
    float: right;
    padding: 0;
  }
  form[role="search"] input[type="submit"] {
    font-family: $icon-font-name;
  }
  // moved from layout/_header.scss
  @include respond-to("desktop") {
    margin: $globalnav-height auto 0 auto;
    width: 100%;
    max-width: 60em;
 
    form[role="search"] label {
      display:none;
    }
    fieldset { margin: 0;}
  }

  @include respond-to("mobile-lh") {
    // overflow:hidden;
    width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    @include background-image(linear-gradient(top, lighten(nth($black, 6), 5%), darken(nth($black, 4), 5%)));
    h1 {
      float: left;
      margin-top: 10px;
      display: inline-block;
      padding: 0 2%;
    }
    form[role="search"] {
      margin: 0;
      display: block;
      float: none;
      position: relative;
      //@include background-image(linear-gradient(top, lighten(nth($black, 6), 5%), darken(nth($black, 4), 5%)));
      background-color: transparent;
    }
    form[role="search"] label span {
      display: none;
    }
    form[role="search"] label {
      padding: 0.6em 0.8em;
      margin: 6px 2%;
      display: block;
      float: right;
      @include background-image(linear-gradient(top, nth($black, 6), darken(nth($black, 3), 5%)));
      @include border-radius(5px);
      border: 1px solid #ccc;
    }
    form[role="search"].open label {
      @include background-image(linear-gradient(top, darken(nth($black, 3), 5%), nth($black, 6)));
    }
    form[role="search"] fieldset {
      clear: both;
      background-color: #333;
      border: none;
      margin: 0;
      width: 100%;
      padding: 10px;
      position: relative;
      left: 0;
      top: 0em;
    }
    form[role="search"] fieldset {
      // height: 0px;
      // overflow:hidden;
      // padding:0px;
      // display:block;
      display: none;
    }
    form[role="search"].open fieldset {
      height: auto;
      padding: 10px;
    }
    input[type="search"] {
      width: 80%;
      // float:left;
   
    }
    form[role="search"] fieldset[aria-hidden="true"] {
      // display: none;
   
    }
    form[role="search"] fieldset[aria-hidden="false"] {
      // display: block;
   
    }
  }
}

body, main {
  @include respond-to("mobile-lh") {
    // This might be breaking scrolling on small MQ Commenting out for now
    //        display: block;
    //        width: 100%;
    //        max-width: 100%;
    //        overflow: hidden;
  }
}

a.skip-to-nav {
  height: 0px !important;
  overflow: hidden;
  display: none !important;
}

//.header {
//  background:#ebebeb;
//  margin-top:2.2em;
//  padding-top:1em;
//  font-size:1.25em;
//  line-height:1.45em;
//  .wrapper {
//    padding:2em;
//    margin:1em auto 0 auto;
//    background: #f8f8f8;
//    @include border-top-radius($container-radius);
//    box-shadow:0 10px 40px #e2e1e1;
//    a {
//      border-bottom:none;
//    }
//  }
//}

//.article-header {
//    margin:3em 0 2em 0;
//    position:relative;
//    .social {
//      position:absolute;
//      right:0;
//      top:.5em;
//      text-align:right;
//      a.share {
//        border-bottom:none;
//        margin-left:.25em;
//        &:hover {
//          opacity:.8;
//        }
//      }
//    }
//  }

//div.status {
//  background-image: none;
//  border-color: yellow;
//  margin-top: 2em;
//  background-color:yellow;
//  color: black;
//  font-family:$sans;
//  @include box-shadow(0, 0, 30px, #ebebeb);
//}