//////////////////////////////
// SUB-MODULES: Component styles that are layout independent 
//////////////////////////////

[role="banner"] {
  h1 {
    display: inline-block;
    //float: left;
    font-size: 1.8em;
    line-height: 1em;
    margin: 0;
    //border: solid;
    a {
      color: #333333;
    }
    span {
      //display: none;
      @extend %element-invisible;
    }
  }
}

.logo { 
  max-width: 100%; 
  padding: 16% 0 9% 0;
  display: block; 
  margin: 0 0 .25em 0; 
  background: image-url('mc-logos/mediacommons-logos.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  .no-svg & { 
    background-image: image-url('mc-logos/mediacommons-logos.png');
  }
  &.mc {
    background-position: 0 0%;
    width: 10em;
  }
  &.imr {
    background-position: 0 33%;
    width: 10em;
  }
  &.tne {
    background-position: 0 66%;
    width: 10em;
  }
  &.alt-ac {
    background-position: 0 100%;
    width: 10em;
  } 
} 
[role="banner"] {
  @include respond-to("narrow navigation") {
    h1 {
      float: left;
      position: absolute;
      left: 1.8em;
    }
    .logo { 
      padding-bottom: 0;
      &.mc {
        background-position: 0 1%;
      }
      &.imr { 
        background-position: 0 30%;
        width: 8em; // looks a little large in mobile view
      }
      &.tne {
        background-position: 0 60%;
      }
      &.alt-ac {
        background-position: 0 90%;
      }  
    }
  } 
}