//////////////////////////////
// MODULES: Component styles that are layout independent 
//////////////////////////////

@import "_header_variables";

header[role="banner"] {
  font-size: $base-size;
  margin: $globalnav-height auto 0 auto;
  padding: 6px 0 0 0;
  h1 {
    display: inline-block;
    float: left;
    font-size: 1.8em;
    line-height: 1;
    margin: 0;
    a {
      color: #333333;
    }
    span {
      display: none;
    }
  }
  @extend %clearfix;
  form[role="search"] {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    background-color: transparent;
    fieldset {
      margin: 0;
      border: none;
    }
  }
  form[role="search"] input[type="submit"] {
    font-family: $icon-font-name;
  }
  form[role="search"] label, form[role="search"] label span {
    display: none;
  }
  // moved from layout/_header.scss
  @include respond-to("full navigation") {
    margin: $globalnav-height auto 0 auto;
    width: 100%;
    max-width: 60em;
    form[role="search"] label {
      display: none;
    }
    form[role="search"] label span {
      display: none;
    }
    fieldset {
      margin: 0;
    }
     button {
      display: none;
    }
  }

  @include respond-to("narrow navigation") {
    // overflow:hidden;
    width: 100%;
    position: relative;
    @include background-image(linear-gradient(top, lighten(nth($black, 6), 5%), darken(nth($black, 4), 5%)));
    h1 {
      float: left;
      padding: 0 2%;
      position: absolute;
      left: 2.3em;
    }
    form[role="search"] {
      margin: 0;
      display: block;
      float: none;
      position: relative;
      //@include background-image(linear-gradient(top, lighten(nth($black, 6), 5%), darken(nth($black, 4), 5%)));
      background-color: transparent;
    }
    form[role="search"] label span {
      display: none;
    }
    form[role="search"] label {
      padding: 0.6em 0.8em;
      margin: 0 2%;
      display: block;
      float: right;
      @include background-image(linear-gradient(top, nth($black, 6), darken(nth($black, 3), 5%)));
      @include border-radius(5px);
      border: 1px solid #ccc;
    }
    form[role="search"].open label {
      @include background-image(linear-gradient(top, darken(nth($black, 3), 5%), nth($black, 6)));
    }
    form[role="search"] fieldset {
      clear: both;
      background-color: #333;
      border: none;
      margin: 0;
      width: 100%;
      padding: 10px;
      position: relative;
      left: 0;
      top: 0em;
    }
    form[role="search"] fieldset {
      // height: 0px;
      // overflow:hidden;
      // padding:0px;
      display: none;
    }
    form[role="search"].open fieldset {
      height: auto;
      padding: 10px;
    }
    input[type="search"] {
      width: 80%;
      // float:left;
   
    }
    form[role="search"] fieldset[aria-hidden="true"] {
      // display: none;
   
    }
    form[role="search"] fieldset[aria-hidden="false"] {
      // display: block;
   
    }
    button {
      padding: .6em .8em;
      @include background-image(linear-gradient(top, nth($black, 6), darken(nth($black, 3), 5%)));
      @include border-radius(5px);
      border: 1px solid #ccc;
    }
    button {
      // position: absolute;
      float: left;
      display: block;
    }
  }
}

nav[role="navigation"].main {
  margin: 0;
  padding: 0;
  ul.main {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      text-indent: 0;
    }
  }
  @include respond-to("narrow navigation") {
    position: relative;
    float: none;
    clear:both;
    // top: 3em;
    left: 0px;
    ul.main {
      display: none;
    }
    &.open ul.main {
      display: block;
      // position: relative;
      background-color: white;
      // left: 0;
      // top: 3em;
      float: none;
      li {
        display: block;
        a {
          display: block;
          width: 100%;
          padding: .5em;
          background-color: white;
        }
      }
    }
    
  }

  @include respond-to("full navigation") {
    float: left;
    clear: left;
    margin: .5em 0;
   
    ul.main {
      float: left;
      @include horizontal-list;
      li {
        font-size: 1.15em;
        display: inline-block;
        &:before {
          content: "\20•\20";
          color: #999;
        }
        &:first-child:before {
          content: "\20";
        }
      }
    }
  }
}

a.skip-to-nav {
  height: 0px !important;
  overflow: hidden;
  display: none !important;
}

//.header {
//  background:#ebebeb;
//  margin-top:2.2em;
//  padding-top:1em;
//  font-size:1.25em;
//  line-height:1.45em;
//  .wrapper {
//    padding:2em;
//    margin:1em auto 0 auto;
//    background: #f8f8f8;
//    @include border-top-radius($container-radius);
//    box-shadow:0 10px 40px #e2e1e1;
//    a {
//      border-bottom:none;
//    }
//  }
//}

//.article-header {
//    margin:3em 0 2em 0;
//    position:relative;
//    .social {
//      position:absolute;
//      right:0;
//      top:.5em;
//      text-align:right;
//      a.share {
//        border-bottom:none;
//        margin-left:.25em;
//        &:hover {
//          opacity:.8;
//        }
//      }
//    }
//  }

//div.status {
//  background-image: none;
//  border-color: yellow;
//  margin-top: 2em;
//  background-color:yellow;
//  color: black;
//  font-family:$sans;
//  @include box-shadow(0, 0, 30px, #ebebeb);
//}