%button {
  width: auto;
  text-align: center;
  font-family: $button-font-family;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  @include bounding-box(border, false, $button-border-pos, $button-border-width, $button-border-style, $button-border-color);
  cursor: pointer;
  @include bounding-box(padding, $button-padding);
  line-height: 1;
  @include simple-background-gradient($button-color, $button-gradient-pos, $button-gradient-stop-1, $button-gradient-stop-2);
  @include text-shadow($button-text-shadow);
  @include border-radius($button-border-radius);
  &:hover,
  &:focus {
    outline: none;
    @include text-shadow($button-hover-text-shadow);
    @include simple-background-gradient($button-hover-color, $button-hover-gradient-pos, $button-hover-gradient-stop-1, $button-hover-gradient-stop-2);
  }  
  &:active {
    @include text-shadow($button-active-text-shadow);
    @include simple-background-gradient($button-active-color, $button-active-gradient-pos, $button-active-gradient-stop-1, $button-active-gradient-stop-2);
  }
  &.active {
    @include text-shadow($button-action-text-shadow);
    @include simple-background-gradient($button-action-color, $button-action-gradient-pos, $button-action-gradient-stop-1, $button-action-gradient-stop-2);
    &:hover,
    &:focus {
      outline: none;
      @include text-shadow($button-action-hover-text-shadow);
      @include simple-background-gradient($button-action-hover-color, $button-action-hover-gradient-pos, $button-action-hover-gradient-stop-1, $button-action-hover-gradient-stop-2);
    }
    &:active {
      @include text-shadow($button-action-active-text-shadow);
      @include simple-background-gradient($button-action-active-color, $button-action-active-gradient-pos, $button-action-active-gradient-stop-1, $button-action-active-gradient-stop-2);
    }
  }
}